<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Company Home page</title>
</head>
<body>

    <h2>Company Home Page</h2>
<hr>

    <p>
    welcome to the company's home page
    </p>

    <hr>
    <p>
        User: <span sec:authentication="principal.username"></span>
        <br><br>

        Role(s): <span sec:authentication="principal.authorities"></span>

    </p>

<!--    add a link for managers-->
    <div sec:authorize="hasRole('MANAGER')">

    <p>
        <a th:href="@{/leaders}">LeaderShip Meeting</a>
        (only for manager)
    </p>

    <hr>
    </div>

<!--    add a link for only admin-->

    <div sec:authorize="hasRole('ADMIN')">

    <p>
        <a th:href="@{/systems}">IT systems Meeting</a>
        (only for Admin)
    </p>


    <hr>
    </div>

<form action="#" th:action="@{logout}" method="post">
    <input type="submit" value="Logout" />
</form>

</body>
</html>